.m-0 {
  margin: 0px
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.flex {
  display: flex
}

.h-5\/6 {
  height: 83.333333%
}

.h-full {
  height: 100%
}

.h-1\/6 {
  height: 16.666667%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-xl {
  border-radius: 0.75rem
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.p-3 {
  padding: 0.75rem
}

.p-0 {
  padding: 0px
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.text-blue-400 {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
